doctype html
html
  head
    title TodoStock S.A.
  body
    h1= titulo
    p Bienvenido al sistema de gestión de TodoStock S.A.
    nav
      ul
        li: a(href="/maestroProductosRouterViews") Gestión de Productos
        li: a(href="/maestroCategoriasRouterViews") Gestión de Categorías
        li: a(href="/maestroProveedoresRouterViews") Gestión de Proveedores
        li: a(href="/maestroProductosRouterViews") Gestión de Maestro de Productos
        li: a(href="/api/maestroproductos") Ver API (JSON)